input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
  opacity: 1 !important;
  color: $c-text-color;
}

#mc_embed_signup{
  width: 80%;
  margin: 0 auto;
  input, textarea{
    width: 93.706%;
    margin-bottom: 1.2em;
    letter-spacing: 2px;
  }
  .button{
    width: 100% !important;
    background-color: #52b270;
    margin-top: 1em;
  }
}

#mc_embed_signup label{
  text-indent: -9999px;
  display: block;
  height: 0;
}

input, textarea{
  border: 1px solid #898989;
  font-size: 1.15em;
  line-height: 1.15em;
  font-weight: 200;
  text-transform: uppercase;
  padding: 3.147%;
  color: $c-text-color;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
