input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
  opacity: 1 !important;
  color: $c-text-color;
}

#ninja_forms_form_1_cont{
  width: 80%;
  margin: 0 auto;
  input, textarea{
    width: 100%;
    margin-bottom: 1.2em;
    letter-spacing: 2px;
  }
  #nf_submit_1 input{
    width: 100% !important;
    background-color: #52b270;
    margin-top: 1em;
    border: 0;
    color: #fff;
    font-weight: 700;
  }
  .ninja-forms-required-items{
    display: none;
  }
  .mc4wp-checkbox-ninja-forms{
    input{
      width: auto;
      margin-bottom: 0;
      margin-top: 0;
      position: relative;
      bottom: .1em;
    }
  }
}

input, textarea{
  border: 1px solid #898989;
  font-size: 1.15em;
  line-height: 1.15em;
  font-weight: 200;
  text-transform: uppercase;
  padding: 3.147%;
  color: $c-text-color;
  -webkit-border-radius: 0px;
  font-family: 'Open Sans', sans-serif;
}

.mc4wp-checkbox.mc4wp-checkbox-ninja-forms{
  span{
    font-weight: 400;
  }
}
