.logo{
	float: left;
	width: 80.1666%;
	background: $c-ca_logo_red;
	height: 4.16em;
	display: table;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	-webkit-backface-visibility: hidden;
	.site-title{
		display: table-cell;
		vertical-align: middle;
	}
	&:hover{
		opacity: .85;
	}

}

.site-header-main{
	position: fixed;
	z-index: 20;
	background: #fff;
	width: 100%;
	height: auto;
}

.slicknav_btn{
	padding: 6% 5% 0.438em 0.625em;
}

.mobile-navigation{
	display: none;
}

.main-navigation{
	display: none;
	.menu-main-navigation-container{
		@include clearfix;
		.menu{
			@include clearfix;
		}
	}
}

.logo .site-title span{
	display: block;
	text-indent: -999999px;
}

.main-navigation{
	ul li{
		float: left;
		width: 16.6667%;
		text-align: center;
		line-height: 1.5rem;
		padding-top: 3.45%;
		padding-bottom: 1.95%;
		height: 3.5rem;
		&:hover{
			cursor: pointer;
		}
		&:hover a{
		 border-bottom: 1px solid rgba(221, 58, 39, 1);
		 color: rgba(221,58,39,1);
	 }
		a{
			-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		border-bottom: 1px solid rgba(221, 58, 39, 0);

		}

		&:last-child{
			background: #cfd9ef;
			&:hover{
				opacity: .85;
				a{
					text-decoration: none !important;
					color: $c-text_color;
					border-bottom: 1px solid rgba(221, 58, 39, 0) !important;
				}
			}
		}
	}
	.current_page_item a{
		color: $c-ca_logo_red !important;
	}
}
.slicknav_menu{
	ul li{
		a{
			padding: .5em 0;
			margin: 0 !important;
		}
	}
	.slicknav_btn{
		padding: 1.75em 1.75em 0.438em 0.625em;
	}
}


@media (min-width: 1140px){
	.mobile-navigation{
		display: none;
	}
	.main-navigation{
		width: 68.584%;
		float: right;
		display: block;
	}
	#mobile-menu-location{
		display: none;
	}
	.site-header-main{
		height: 4.15em;
	}
}

@media (min-width: 1322px){
		.main-navigation{

		}
}

@media (min-width: 1580px){
	.site-header-main{
	height: auto;
}
}

@media (min-width: 468px){
		.logo{
				width: 31.1666%;
				min-width: 350px;
		}
		.slicknav_menu{
			ul li{
				a{
					padding: 1em 0;
					margin: 0 !important;
				}
			}
		}
	}
