

// Theme Information
//--------------------------------------------//

$theme_name: "Culinary Architecture";
$theme_uri: "#";
$theme_description: "Default theme for Culinary Architecture";
$theme_version: "1.0";
$theme_author: "Derek Hargest";
$theme_author_uri: "http://www.derekhargest.com";
$theme_license: "GPL";
$theme_tags: "responsive-layout, post-formats";

// Colors
//--------------------------------------------//

$c-ca_red: 		   	#fe0000;
$c-ca_logo_red:    	#dd3a27;
$c-ca_blue:        	#17a0d6;
$c-ca_dark_blue:   	#0c1833;
$c-ca_light_blue:  	#cfd9ef;
$c-ca_purple: 	   	#9c79b6;
$c-ca_light_purple: #9966cc;
$c-ca_text_purple:  #733c91;
$c-ca_orange:      	#f7a216;
$c-ca_dark_orange:	#e6702c;
$c-ca_pink: 	   	#e97ca7;
$c-ca_green: 	   	#52b270;
$c-ca_light_green: 	#47b348;
$c-ca_success_green: #339966;

// Typography
//--------------------------------------------//

$c-text-color: $c-ca_dark_blue;

$c-success: $c-ca_success_green;
